img.menu{
	text-align:right;
}
/* The wrapper clears the floating elements of the menu */

#menuwrapper {
		margin:0 auto;
		width:100%;
        overflow: hidden;
        font-size: 0.8em;/* iPhone */
        color: white;
		background:#3b6a96; /* url("images/menu_bg.gif") repeat-x;  enlevé pour l'iphone*/
}

/* Set the width of the menu elements at second level. Leaving first level flexible. */

#primary-nav li li {  width: 200px; } /* largeur du sous menu */


/* Unless you know what you do, do not touch this */

#primary-nav, #primary-nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
#primary-nav ul {
	position: absolute;
	top: auto;
	display: none;
	}
#primary-nav ul ul {
	margin-top: 1px;
 	margin-left: -1px;
	left: 100%;
	top: 0px;
	}

#primary-nav li {
	margin-left: -1px;
	float: left;
	 /* iPhone */
	}
#primary-nav li li {
	margin-left: 0px;
	margin-top: -1px;
	float: none;
	position: relative;
	}

/* Styling the basic apperance of the menu elements */

#primary-nav a {
	display: block;
	margin: 0px;
	padding: 5px 10px;
	text-decoration: none;
    color : #FFF;
}
#primary-nav li a {
	border-right: 0px solid #a2b9ce; /* 1px normalement mais modifié pour l'iPhone */
	border-left: 0px solid #a2b9ce; /* 1px normalement mais modifié pour l'iPhone */
}
#primary-nav li li a {
	border: 1px solid white;
	}
/* Boutons normaux */
#primary-nav li, #primary-nav li.menuparent {
	background-color: #3b6a96; /* #7095ed;  */
	/* background:#3b6a96 url("images/menu_bg.gif") repeat-x; enlevé pour l'iphone */
    color : white;
	font-weight:bold;
}
#primary-nav li li, #primary-nav li li.menuparent {
	background: #3b6a96; /* #7095ed;  */
    color : white;
	font-weight:bold;
}

/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */

#primary-nav li.menuactive {
	background: #244ba9;
        color: red;
	}


/* Styling the basic apperance of the menuparents - here styled the same on hover (fixes IE bug) */

#primary-nav ul li.menuparent, #primary-nav ul li.menuparent:hover, #primary-nav ul li.menuparenth 
{
	background-position: center right;
	background-repeat: no-repeat;
    color: #092a4b;
}


/* Styling the apperance of menu items on hover */

#primary-nav li:hover, #primary-nav li.menuh, #primary-nav li.menuparenth, #primary-nav li.menuactiveh {
	background: #3b6a96; /* #092a4b; */
    color : white;
}
#primary-nav li li:hover, #primary-nav li li.menuh, #primary-nav li li.menuparenth, #primary-nav li li.menuactiveh {
	background:#092a4b; 
    color : white;
}

/* The magic - set to work for up to a 3 level menu, but can be increased unlimited */

#primary-nav ul, #primary-nav li:hover ul, #primary-nav li:hover ul ul,
#primary-nav li.menuparenth ul, #primary-nav li.menuparenth ul ul {
	display: none;
          color: white;
	}
#primary-nav li:hover ul, #primary-nav ul li:hover ul, #primary-nav ul ul li:hover ul,
#primary-nav li.menuparenth ul, #primary-nav ul li.menuparenth ul, #primary-nav ul ul li.menuparenth ul {
	display: block;
	}


/* IE Hacks */

#primary-nav li li {
	float: left;
	clear: both;
	}
#primary-nav li li a {
	height: 1%;
	}