html  {margin:0}
body {
	margin:0;
	background:#FFFFFF;	
	font-family:verdana, garamond, georgia, "times new roman", serif;
	font-size:0.7em;
}
form { margin:0 }

/* contenue */
#conteneur{
	margin:0 auto;
	width:100%;
	text-align: left;
	border:0px solid #ffffff;
}

/* header */
div#top{
	height:30px;
	text-align:center;
	background:#3b6a96;
}

/* slogan du site */
.titre_site{
	color:#e6ecee;
	font-size:200%;
}

/* middle */
#contenu{
	background:#FFFFFF;
	height:100%;
}

/* blocs */
#contenu_blocs{
	padding:1px;
}

/* hx */
h1, h1.admin, h2, h3, p, i, th, td .msg1, .msg2, .msg3, .titre_site, .alerte, .pseudo, .groupe{
	font-family:verdana,garamond, georgia, serif;
}

h1, h1.admin, h2, h3 { color:#2b4375; text-align:left;}

h1 {
	margin: 0px;
	font-size:130%;
}

h1.admin{
	margin: 0 20px 0 5px;
	padding-left: 20px;	
	background: url("images/icon_zone_admin.png") no-repeat left center;
	font-size:120%;
}

h2 {
	font-size:110%;
	margin-left:10px ;
	border-bottom: 1px solid #2b4375; 
}

h3 {
	font-size:90%;
	margin-left:30px ;
	margin-bottom:2px ;
	border-bottom: 1px dotted #2b4375; 
}

.bloc{
	margin:0 auto;
	margin-bottom:3px;
	/*background:#eef2f6;	*/
	vertical-align:top;
	text-align:center;
	border: 1px dotted #afc2d4;
}

.bloc_admin{

	padding:0 15px 0 15px;
	vertical-align:top;
	text-align:left;
}

/* footer */
#footer{
	text-align:center;
	width:100%;
}

#footer a{
	text-decoration:none;
	color:#3b6a96;
}

.copyright{
	text-align:center;
	bottom:0px;
	color:#3b6a96;
	font-size:0.8em;
}

#error{
	width:60%;
	padding:10px;
	border: 2px dotted #ff0000;
	color:red;
	font-size:90%;
	text-align:center;
}

#identification{
	position:relative;
	font-weight:bold;
	font-size:90%;
	color:#ffffff;
	top:5px;
	text-align:right;
}

#overflow{
	overflow:auto;
	width:650px;
	height:100%;
}

/* table */
table.standard{
	margin:0 auto;
	border:0px;
	padding:0px;
	text-align:left;	
}

table.Alerte{
	border:2px solid #f46767;
}

/* th */
th {	
	background:#d8e1eb url("images/webdesign_th.png") repeat-x;
	padding:2px 10px 2px 10px;
	color:#FFFFFF;
	font-size:7pt;
	text-align:center;
}

/* td */
td {	font-size:7pt; }
td.row1, td.row2, td.row3{ padding-left:2px; padding-right:2px; }
td.row1{ background:#e6ecf2; }
td.row2{ background:#edf2f6; }
td.row3{ background:#d5e0ea; color:#06212c; }

td.rowAlerte{	
	padding:10px 0 10px 0;
	background:#f46767; 
	color:#FFFFFF;
	text-align:center;	
}

td.submit{	
	background:#ffffff;
	color:#ffffff;
	text-align:center;
}

/* element */
select, input, checkbox{
	background:#ffffff;
	border: 1px solid #497fec;
	font-size:7pt;
}

/*text & link */
a { color:#2b4375; text-decoration:none; }
a:hover{ color:#2b4375; text-decoration:none;  }

a.navlink{ margin-left:2px; text-decoration:none; font-size:7pt; }
a.navlink:hover{ margin-left:2px; text-decoration:none; font-size:7pt; }

a.link1{ padding-left:2px; font-size:8pt; font-weight:bold; }
a.link2{ padding-left:2px; font-size:7pt; font-weight:bold; }
a.link3{ padding-left:6pt; font-size:7pt; }

a.cat{ font-size:100%; text-decoration:none; font-weight:bold; }

.pagination { font-size:7pt; text-align:right; margin-top:2px; margin-bottom:2px; }
.pagination a{ margin:1px; padding-left:2px; padding-right:2px; height:15px; background: #eef2f6; border: 1px solid #7798b7; }

.oui, .non, .null{ color:#000000 }
.oui{ background:#dbf6c9; }
.non{ background:#f6c9ca; }
.null{ background:#f2f6c9; }

.alerte{ font-size:85%; color:#FF0000; text-align:center; margin:auto; }
.pseudo{ font-weight:bold; text-decoration:none; }
.bot{ color:#dddddd; font-weight:bold; text-decoration:none; }

.wiki { border-bottom: 1px dotted #993300; }
a.wiki{ color:#993300; text-decoration:none; }

.checkV{ color:#2b4375; clear: both; }
.checkX{ color:#ea5200; clear: both; }

.msg1{font-size:75%;}
.msg2{font-size:85%;}
.msg3{font-size:95%;}

a.cal{ padding:0 3px 0 3px; background:#ffffff; font-size:100%; text-decoration:none; border:1px solid #8cadda; }
a:hover.cal{ background:#edf2f6; }

a.info{ position:relative; z-index:24; }

a.info:hover{ z-index:25; }
a.info span{display: none}
a.info:hover span{ 
	display:block; 
	background:#edf2f6;
	position:absolute;
	top:0px; 
	left:0px;
	width:150px;
	z-index:25;
	border:1px solid #2b4375;
	color:#2b4375;
	text-align:left;
	padding:2px;
}

.groupe{
	position:relative; 
	font-weight:bold;
	text-decoration:none;
	z-index:24; 
}

a.groupe:hover{z-index:25;}
a.groupe span{display:none;}
a.groupe:hover span{ 
	display:block; 
	background:#eef2f6;	
	position:absolute;
	top:2em; 
	left:2em;
	width:200px;
	text-align: center;
	padding:2px;
	border: 1px solid #7798b7;
}
/*  Champs de recherche d'un pseudo  */
 #listing_membres{
 	position:relative;
 	background:#FFFFFF;	
	width:150px;
	height:0px;
 }
 #listing_membres .suggestions{
	height:15px;
 	background:#FFFFFF;	
	border-left: 1px solid #7798b7;
	border-right: 1px solid #7798b7;
	border-bottom: 1px solid #7798b7;
 }
 #listing_membres .suggestions:hover{
	background:#eef2f6;	
	cursor:pointer;
 }

/* p & i */
p { padding:0px 10px 0px 10px; text-align:left; }

i { text-align: justify; }

/* date news */
div.DatePost{ 
	width:35px;
	font-size:80%; 
	color:#ffffff; 
	text-align:center; 
	border: 1px solid #8cadda; 
}

.jour { width:100%; background:#bcd3f2; }
.mois { width:100%; background:#9db7da; font-weight:bold; }
.annee { width:100%; background:#7a97be; font-weight:bold; }

/* Code */
.codeStyle {
	margin: 10px;
	background:url("images/code_bg.gif") repeat-x;
	border: 1px solid lightgrey;
	color:#FFFFFF;
	font-weight:bold;
	vertical-align:middle;
	width:500px;
}
.codeStyle  a{color:#FFFFFF; text-decoration:none;}
.code {
	display: block;
	margin-top:10px;
	font-family: Courier;
	font-size: 12px;
	height:80px;
	width: 500px;
	overflow:auto;
	background: #FFFFFF;
	vertical-align:top;
	white-space: pre;
	text-align:left;	
}

.quoteStyle {
	margin: 10px 5px 0px 20px;
	color:#FFFFFF;
	font-style:italic;
	vertical-align:middle;
	background:#5880a5 url("images/quote.gif") no-repeat right top;
	border: 1px dotted #2d85ae;
}
.quoteAuteur{
	padding:2px 0px 2px 10px;
	height:20px;
}
.quote {
	margin:0;
	padding:0px 0px 5px 5px;
	color:#5880a5;
	min-height:40px;
	background:#FFFFFF;
}
/* gallery avatar */
#thumbs ul{
	margin:0;
	padding:0;
	position:absolute;
	display:block;
	top:auto;
	list-style:none;
}
#thumbs li{
	margin:10px;
	background:#dfe7ef;
	float:left;
	list-style:none;
	border: 1px solid #285c8c;
}

/* alignment */
.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }

.justify { text-align:justify; }

.abstop { vertical-align:top; }
.absmiddle { vertical-align:middle; }
.absbottom { vertical-align:text-bottom; }

.middle { text-align:center; vertical-align:middle; }
.bottom { vertical-align:bottom; }
.nowrap { white-space:nowrap; }

/* floating */
div.float_left { float:left; text-align:left; }
div.float_right { float:right; }
div.flow_auto { overflow:auto; width:100%; }
div.float_right_auto { float:right; width:auto; vertical-align:top; }

.margin_btm { padding:1px; margin-bottom:1px; }
.margin_top { padding:1px; margin-top:1px; }

/* elements */
label { cursor:pointer; }
br.both { clear:both; }
a img { border:none; }
img.margin_rgt { margin-right:2px; }

/* colorPicker */
#dhtmlgoodies_colorPicker{
	position:absolute;
	width:224px;
	padding-bottom:1px;
	background:#ffffff;
	border:1px solid #317082;
}
#dhtmlgoodies_colorPicker .colorSquare{
	width:10px;
	height:10px;
	margin-left:1px;
	margin-bottom:1px;
	float:left;
	border:1px solid #000000;
	cursor:pointer;
	width:12px;	/* IE 5.x */
	width/* */:/**/10px;	/* Other browsers */
	width: /**/10px;			
}

/*  Champ de saisie de FCKeditor */
#tinymce{ background:#FFF; } 